@import 'global';





.header{
   background: linear-gradient(0deg, rgba(#98C3E8, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);

}

.header__content{
    background-image: url(../images/illustration.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.header__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

.header__content-title{
    font-weight: 500;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    max-width: 565px;
    color: #1F3F68;
    padding-top: 110px;
    margin-bottom: 32px;
}

.header__content-text{
    max-width: 400px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 71px;
}

.header__content-btn{
    padding-bottom: 190px;
    a{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 15px 46px;
        background-color: #5A98D0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        max-width: 213px;
        width: 100%;
    }
}

.main{
    padding-top: 192px;
    padding-bottom: 212px;
}

.main__firstbox-text{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    max-width: 358px;
}

.main__firstbox-item,
.main__secondbox-item{
    max-width: 380px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-bottom: 48px;
}

.firstbox-item__box,
.secondbox-item__box{
    padding-left: 48px;
}

.main__firstbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.firstbox-item__img{
    text-align: center;
    img{
        margin-top: -20px;
    }
}

.firstbox-item__title,
.secondbox-item__title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    max-width: 259px;
    margin-bottom: 16px;
}

.firstbox-item__text,
.secondbox-item__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    max-width: 284px;
    margin-bottom: 32px;
}

.firstbox-item__link,
.secondbox-item__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    padding-right: 44px;
    position: relative;
    &::before{
        content: "";
        width: 16px;
        height: 16px;
        background-image: url(../images/right.png);
        position: absolute;
        top: 7px;
        right: 0;
    }
}

.main__secondbox{
    display: flex;
    justify-content: flex-end;
}

.secondbox-item__img{
    margin-bottom: 56px;
    img{
      margin-left: 74px;  
    }
    
    margin-top: 48px;
}

.threebox-item__img{
    margin-bottom: 56px;
    img{
      margin-left: 80px;  
    }
    
    margin-top: 49px;
}

.main__secondbox{
    position: relative;
}

.main__position-item{
    position: absolute;
    left: 0;
    top: -325px;
}



.bottom__box{
    background-color: #5A98D0;
    padding-top: 96px;
    border-radius: 200px 0px 0px 0px;
    padding-bottom: 1px;

}

.bottom__title{
    font-size: 36px;
    line-height: 46px;
    max-width: 223px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.bottom__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    max-width: 540px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 82px;
}

.bottom__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
}

.bottom__container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.bottom__box2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
}



.bottom__box-item,
.bottom__box2-item{
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    padding: 41px 0;
    max-width: 235px;
    width: 100%;
    text-align: center;
    &+.bottom__box-item,
    &+.bottom__box2-item{
        border-left: 1px solid #FFF;
    }
}

.bottom__box2-last{
    background-color: rgba(#1F3F68, 0.2);
    
}

.footer{
    padding-right: 96px;
    background-color: #5A98D0;
    .container{
        transform: translateX(48px);
    }
}

.footer__box{
    background-color: #316099;
    border-radius: 0px 200px 0px 0px;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 860px;
    padding-bottom: 96px;
    border-bottom: 1px solid rgba(#fff, 0.4);
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(#fff, 0.4);
        bottom: -1px;
        right: 100%;
    }
   
}

.footer__top-item__title{
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFF;
    max-width: 317px;
    margin-bottom: 32px;
}

.footer__top-item__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 460px;
}

.footer__top-link{
    a{
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 15px 71px;
        max-width: 220px;
        background-color: #5A98D0;
        width: 100%;
        border-radius: 10px;
    }
}

.footer__bottom{
    margin-top: 96px;
}

.footer__bottom-inner{
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    margin-bottom: 40px;
}

.footer__col1{
    max-width: 300px;
}

.footer__col1-title{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    padding-left: 63px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 33px;
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/logofooter.png);
        width: 48px;
        height: 32px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.footer__col1-info{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 35px;
    position: relative;
    margin-bottom: 24px;
    &::before{
        font-weight: 400;
        content: "A.";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.footer__col1-tel,
.footer__col1-email{
    font-weight: 300;
    display: block;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 35px;
    position: relative;
    margin-bottom: 24px;
    &::before{
        content: "T.";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-weight: 400;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.footer__col1-email{
    &::before{
        content: "E";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: absolute;
        left: 0;
        top: 0;
    }  
}

.footer__col-title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer__col-list{
    a{
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-bottom: 16px;

    }
}

.footer__copy-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}


// contactus start



.headerus__container{
    max-width: 1200px;
    margin: 0 auto;
}

.headerus__inner{
    display: flex;
    justify-content: space-between;
    min-height: 129px;
    padding-top: 48px;
}

.title{
    background-image: url(../images/titlebg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    text-align: center;
    padding-top: 51px;
}

.title__title{
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.title__text{
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contact{
    padding-bottom: 48px;
}

.contact__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

.contact__info-img{
    padding-top: 63px;
    margin-bottom: 71px;
}

.contact__address-tite,
.contact__tel-title,
.contact__service-title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 24px;
}

.contact__address-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    max-width: 283px;
    margin-bottom: 40px;
}

.contact__tel{
    margin-bottom: 24px;
}

.contact__tel,
.contact__service{
    a{
        font-weight: 300;
        font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    display: block;
    margin-bottom: 16px;
    padding-left: 37px;
    position: relative;
    &::after{
        content: "";
        width: 18px;
        height: 18px;
        background-image: url(../images/phone.png);
        position: absolute;
        left: 0;
        top: 4px;
        
    }
    }
    
}

.contact__service{
    a{
         &::after{
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(../images/web.png);
        position: absolute;
        left: 0;
        top: 4px;
        }   
    }
    .contact-mail{
    &::after{
        content: "";
        width: 20px;
        height: 16px;
        background-image: url(../images/email.png);
        position: absolute;
        left: 0;
        top: 4px;
        } 
}
}

.form__inner{
    max-width: 540px;
    width: 100%;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    label,
    input,
    textarea{
        width: 100%;
    }
    label{
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
        
    }
    input,
    textarea{
        &::placeholder{
            opacity: 0.2;
        }
        font-size: 16px;
        margin-top: 8px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        padding-left: 36px;
        padding-top: 21px;
        border: 1px solid rgba(#356EAD, 0.4);
        border-radius: 10px;
    }
    input{
        padding-bottom: 21px;
        margin-bottom: 32px;
    }
    textarea{
        min-height: 144px;
        margin-bottom: 72px;
    }
    button{
        width: 100%;
        height: 72px;
        border: none;
        background-color: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    
}

.form__inner-title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 48px;
}

.map{
    padding-top: 48px;
    padding-bottom: 96px;   
}

.map__inner{
    iframe{
        width: 100%; 
    }
}

.footerus{
    padding-right: 96px;
    background-color: #fff;
    .container{
        transform: translateX(48px);
    }
}